.entriesSection {
    
    background: rgb(225, 130, 238);
    padding: 20px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Julius Sans One', sans-serif;
    display: block;
    width: 80%;
    height: 70%;

}
.entry {
    
    background: rgb(99, 19, 109);
    padding: 20px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Julius Sans One', sans-serif;
    display: block;
    width: 80%;
    height: 70%;
    position: relative;
} 